<form method="post" action="{{ path('app_gallery_delete', {'id': gallery.id}) }}" onsubmit="return confirm('Confirmer la suppression de cette galerie ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ gallery.id) }}">
    <button class="btn">Supprimer</button>
</form>
