<footer class="content-footer footer bg-footer-theme">
  <div class="container-xxl">
    <div class="footer-container d-flex align-items-center justify-content-between py-4 flex-md-row flex-column">
      <div class="mb-2 mb-md-0">
        &copy; {{ "now"|date("Y") }} HomeBalance. Tous droits réservés.
      </div>
      <div class="d-none d-lg-inline-block text-muted">
        Organisation familiale douce, claire et partagée.
      </div>
    </div>
  </div>
</footer>
