<form method="post" action="{{ path('app_default_gallery_delete', {'id': default_gallery.id}) }}" onsubmit="return confirm('Confirmer la suppression de ce modele ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ default_gallery.id) }}">
    <button class="btn">Supprimer</button>
</form>
