{% extends 'base_front.html.twig' %}

{% block title %}Add Reminder{% endblock %}

{% block body %}
<div class="d-flex justify-content-between align-items-center mb-3">
  <h4 class="fw-semibold m-0">Add Reminder</h4>
  <a href="{{ path('app_evenement_rappels', { id: evenement.id }) }}" class="btn btn-outline-secondary">
    Back
  </a>
</div>

<div class="card">
  <div class="card-body">
    {{ include('app/rappel/_form.html.twig', { button_label: 'Create' }) }}
  </div>
</div>
{% endblock %}
