{% extends 'emails/base.html.twig' %}

{% block body %}
  <p>Hi {{ name }},</p>
  <p>An administrator updated your HomeBalance account.</p>
  {% if payload.actor is defined and payload.actor %}
    <p class="muted">Actioned by {{ payload.actor }}.</p>
  {% endif %}
  {% if cta %}
    <p><a class="cta" href="{{ cta }}">View account</a></p>
  {% endif %}
{% endblock %}
