<!DOCTYPE html>
<html>
   <head>
  <meta charset="UTF-8">
  <title>{% block title %}HomeBalance{% endblock %}</title>

  <!-- Sneat CSS -->
  
  
  

  {% block stylesheets %}{% endblock %}
       

  <!-- Sneat JS helpers -->
  {% block javascripts %}
           
  {% endblock %}
</head>

   <body>
  {% block body %}{% endblock %}

  <!-- Sneat JS -->

</body>

</html>
