{% extends 'base_back.html.twig' %}

{% block title %}Edit Event (Admin){% endblock %}

{% block body %}
<div class="d-flex justify-content-between align-items-center mb-3">
  <h4 class="fw-semibold m-0">Edit Event (Admin)</h4>
  <a href="{{ path('admin_evenement_index') }}" class="btn btn-outline-secondary">
    Back
  </a>
</div>

<div class="card">
  <div class="card-body">
    {{ include('admin/evenement/_form.html.twig', { button_label: 'Update' }) }}
  </div>
</div>
{% endblock %}
